/* Main Style */

* {
  font-family: "HelveticaNeue-Light" !important;
  font-weight: normal !important;
}
body {
  background-color: #ffffff;
  direction: rtl;
}
footer {
  color: #7f8c8d;
  text-align: center;
  padding-top: 10px;
}
.logo img {
  margin: 0px auto;
  padding-top: 18px;
}
* {
  outline: 0px !important;
}
.com-info h3, .gen-info h3, .con-info h3, .gen-info .form-group input#fullname,
.gen-info .name-agreement, .bir-da div, .bir-da select, .sex h4,
.sex label span, .marital h4, .marital label span, .jobtype input,
.nation select, .cnty select, .picture-agreement, .photoboth div,
.weight input, .reas textarea, .provo textarea, .frecode input,
.con-info input, .con-info textarea, .con-info div, .con-info div a,
footer .required, .col-md-6.regulations-text p b, .col-md-6.regulations-text li,
.rules-title h2  {
  font-family: "thameen" !important;
}
h3 {
  color: #fff;
  text-align: center;
  background-color: #28b997;
  margin-bottom: 5px;
  padding: 5px;
  font-size: 16px;
  height: 40px;
  line-height: 2.1;
  border: 1px solid #28b997 !important;
  -webkit-border-radius: 5px !important;
  -moz-border-radius: 5px !important;
  border-radius: 5px !important;
}
.rightdiv {
  float: right;
}
.leftdiv {
  float: left;
  margin-left: 0px !important;
}

/* Form Work */

.com-info, .gen-info, .con-info {
  background: #fff;
  padding: 14px;
}
.full-name input, .bir-da select, .jobtype input, .cnty select, .nation select, .mobno input, .mail input, .fb input, .frecode input, textarea, .weight input {
  background-color: #eaedf1 !important;
  border: 1px solid #eaedf1 !important;
  -webkit-border-radius: 5px !important;
  -moz-border-radius: 5px !important;
  border-radius: 5px !important;
  box-shadow: none !important;
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  -webkit-appearance: none !important;
}
textarea {
  width: 100%;
  height: 60px;
  resize: none;
  padding-right: 15px;
  padding-left: 15px;
  vertical-align: top;
}
.form-group {
  height: 100%;
  overflow: hidden;
  margin-bottom: 10px;
}
.form-control {
  height: 40px !important;
  line-height: 40px !important;
}
.form-control input {
  height: 40px !important;
  line-height: 40px !important;
}
.form-group select {
  line-height: 18px !important;
}
input:focus, .bir-da select:focus, .mobno input:focus, .mobno input:focus, .mail input:focus, .fb input:focus, .frecode input:focus, .reas textarea:focus, .provo textarea:focus {
  background-color: #eaedf1 !important;
  border: 1px solid #16a085 !important;
  outline: none;
}
.full-name input, .jobtype input, .cnty select, .nation select, .mail input, .fb input, .mob, .frecode input {
  padding-right: 40px;
}
.bir-da select.col-md-4 {
  width: 30.33333333333333% !important;
  margin-left: 4.5%;
  cursor: pointer;
}
.bir-da select.col-md-4:last-child {
  margin-left: 0%;
}
.mobCode {
  float: left;
}
input[type="radio"] {
  -webkit-appearance: none;
  background-color: #fafafa;
  border: 1px solid #cacece;
  outline: 0px;
  padding: 7px;
  border-radius: 50px;
  display: inline-block;
  position: relative;
  top: 3px;
  cursor: pointer;
}
input[type="radio"]:checked:after {
  content: ' ';
  width: 8px;
  height: 8px;
  border-radius: 50px;
  position: absolute;
  top: 3px;
  background: #16a085;
  outline: 0px !important;
  text-shadow: 0px;
  left: 3px;
}
.gobtn {
  background: #16a085 !important;
  border: 0px;
  border-bottom: 2px solid #5c5c5c;
  position: relative;
  margin: 0px auto;
  display: block;
  margin-top: 40px;
  -webkit-border-radius: 0px !important;
  -moz-border-radius: 0px !important;
  border-radius: 0px !important;
}
#profile_picture_upload {
  text-align: center;
  border: solid 1px;
  border-color: #5c5c5c;
  width: 126px;
  height: 126px;
  border-radius: 63px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  background: url('../Images/profile_pic_cyan.png');
}
.uplpho span {
  text-align: center;
  width: 100%;
  display: block;
  padding-top: 5px;
}
.required {
  text-align: center;
}
.copyrights {
  text-align: center;
}
.weight .col-md-6 {
  width: 49%;
  height: 40px;
}
.photoboth .col-md-6 {
  width: 49%;
  height: 40px;
  line-height: 2.5;
  background-color: #5c5c5c;
  text-align: center;
  display: inline-block;
  color: #fff;
  cursor: pointer;
  border: 1px solid #5c5c5c !important;
  -webkit-border-radius: 5px !important;
  -moz-border-radius: 5px !important;
  border-radius: 5px !important;
}
.input_form_error {
  /*border: 1px solid #D45044 !important;*/
}

/* icons */

.bir-da select {
  height: 34px;
  background: url('../Icons/play.png') no-repeat 5% 50%;
}
.full-name input {
  background: url('../Icons/user.png') no-repeat 97% 8px;
}
.jobtype input {
  background: url('../Icons/wrench.png') no-repeat 97% 8px;
}
.cnty select {
  background: url('../Icons/location.png'), url('../Icons/play.png');
  background-position: 97% 8px, 2% 50%;
  background-repeat: no-repeat;
  cursor: pointer;
}
.nation select {
  background: url('../Icons/flag2.png'), url('../Icons/play.png');
  background-position: 97% 8px, 2% 50%;
  background-repeat: no-repeat;
  cursor: pointer;
}
.mail input {
  background: url('../Icons/envelope.png') no-repeat 97% 8px;
}
.fb input {
  background: url('../Icons/facebook_1.png') no-repeat 97% 8px;
}
.mob {
  background: url('../Icons/mobile.png') no-repeat 97% 8px;
  width: 73%;
}
.frecode input {
  background: url('../Icons/users.png') no-repeat 97% 8px;
}

/* Media  */

@media only screen and (min-width: 990px) {
  .com-info, .gen-info, .con-info {
    /*min-height: 467px;*/
    /*min-height: 487px;*/
  }
  .con-info .form-group {
    /*margin-bottom: 35px;*/
  }
}
@media only screen and (max-width: 990px) {
  .bir-da select.col-md-4 {
    width: 100% !important;
    margin-bottom: 10px;
  }
  .mob {
    width: 100%;
    margin-bottom: 10px;
  }
}
select {
  -moz-appearance: none;
  text-indent: 0.01px;
  text-overflow: '';
}
